<?xml version="1.0"?>
<configuration>

  
    <system.web>
      <authorization>
        
        <allow users="evaluador1,evaluador2,evaluador3,evaluador4,evaluador5,evaluador6,evaluador7,evaluador8,evaluador9,evaluador10,evaluador11,evaluador12"/>
        <deny users="*"/>
        
      </authorization>
    </system.web>

</configuration>
