.encabezado {
    background: #5D7B9D !important;
    height: 20px !important;
    color:#d44c4c
}


table,tr,td,th {
    border: 3px solid #383838 !important;
    font-size:12px !important;
}

.contenedor{
    width:1500px !important;
}

td,th{
    text-align:center !important;
    color:black !important;
}

td:hover {
    cursor: pointer !important;
}

th:hover {
    cursor: pointer !important;
}



