.MultiLineTextBox {
    overflow: auto !important;
    resize: none;
    border: none !important;
    padding: 4px 8px !important;
}

.MultiLineTextBox:focus {
    outline: 2px solid #ffffff; /* oranges! yey */

}
.tdMargen {
    padding:0px !important;
    margin-left:0 !important;
}
