.tablePorta {
    border: 2px solid #414141 !important;
    width: 800px !important;
    height:100px !important;
    margin-left:180px;
}

.tdPorta {
    border: 2px solid #414141 !important;
}


#portafolio{
    margin-bottom:50px;
}
.text-porta{
    font-weight:500 !important;
    font-size:15px !important;
}
img:hover{
    cursor:pointer !important;
}
#texto{
    margin:10px !important;
    padding:10px !important;
}
input[type=text]:focus {
    outline: 2px solid #ffffff; /* oranges! yey */
    background:#ffffff !important;
}

input[type=text] {
    border: none; /* Remove default borders */
    padding: 4px 8px;
}

.header-color-sesion {
    background: #337AB7 !important;
    color: white;
}

.back-porfolio {
    background: #DA2222;
}

.text-white {
    color: white !important;
}

.panel-portafolio {
    border-color: #ddd;
}

.panel-portafolio > .panel-portafolio {
border-color: #ddd;
}

.panel-portafolio > .panel-portafolio + .panel-portafolio > .panel-portafolio {
    border-top-color: #ddd;
}

.panel-portafolio > .panel-portafolio + .panel-portafolio > .panel-portafolio {
    border-bottom-color: #ddd;
}

#grupoBuscar {
    margin-bottom: 10px;
}

.img-Close {
    margin-left: 190px !important;
}

.modal-content {
    width: 555px !important;
    height: 320px !important;
    left: 10% !important;
}

.file {
    margin-left: 120px !important;
}

.text-fil {
    font-weight: 500 !important;
    font-size: 25px;
    color: #DA2222;
}
